@font-face {
font-family: "Proxima_Nova_Regular";  
src: url("../fonts/Proxima_Nova_Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
 }
 
 @font-face{
 font-family: "Proxima_Nova_Condensedbold";
 src: url("../fonts/Proxima_Nova_Condensedbold.ttf") format("truetype");
 font-style: normal; 
 font-weight: normal; 
 }

 @font-face{
 font-family: "Proxima_Nova_Black";
 src: url("../fonts/Proxima_Nova_Black.ttf") format("truetype");
 font-style: normal; 
 font-weight: normal; 
 }

@font-face{
 font-family: "Proxima_Nova_Extrabold";
 src: url("../fonts/Proxima_Nova_Extrabold.ttf") format("truetype");
 font-style: normal; 
 font-weight: normal; 
 }
