$main-font: Proxima_Nova_Regular;
$semybold-font: Proxima_Nova_Condensedbold;
$bold-font: Proxima_Nova_Black;
$extrabold-font: Proxima_Nova_Extrabold;
$dark-section-color: #08243e;
$light-section-color: #0b3554;
$btn-color-blue: #1669b3;
$btn-color-yellow: #f7b516;


