.build{
position: relative;
background-image: url('../img/build/build-bg.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding: 100px 0;
&::after{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 477px;
	height: 70px;
	transform: translateX(-50%);
	background-image: url('../img/build/top-bg.png');
	background-repeat: no-repeat;
	background-position: center;
}
&__title{
	width: 770px;
	margin: 0 auto;
	text-align: center;
	color: #284157;
	font-family: Geometria_Bold;
}
&__subtitle{

	color: #284157;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	margin: 60px 0;


}

.owl-carousel.owl-drag .owl-item.center{
	background-color: red;
}
&__prev, &__next{
		position: absolute;
		bottom: 50%;
		background-color: #fff;
		
		
		}
	&__prev{
		left: 0;
	}
	&__next{
		right: 0;
	}
	#slider4{
		position: relative;
	}
	&__overlay{
		position: absolute;
		z-index: 3;
		top:310px;
		left: 50%;
		transform: translateX(-50%);
		width: 370px;
		height: 245px;
		border-radius: 5px;
		background-color: #44af1e;
		opacity: 0.6;
		background-image: url('../img/build/close.svg');
		background-repeat: no-repeat;
		background-position: center;
		pointer-events: none;
	}
	&__form{
		padding: 70px 0 70px 100px;
		background-color: #fff;

	}
	&__form-title{
		text-align: left;
		font-size: 22px;
		font-family: Geometria_Bold;
		width: 970px;
		margin: 0 0 40px 0;
	}
	&__form-text{
		color: #284157;
		font-size: 16px;
		margin-bottom: 47px;

	}
	&__form-wrapper{
		display: flex;
		align-items: center; 
	}
	input{
		width: 270px;
		height: 60px;
		border-radius: 10px;
		border: 1px solid #e8e8e8;
		margin-right: 30px;
		font-size: 12px;
		padding-left: 25px;
	}
	&__btn{
		width: 270px;
		height: 60px;
		margin: 0;
	}
	}