body{
	font-family: PT Sans;
	font-size: 16px;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
p, h1, h2, h3{
	margin: 0;
}
h3{
		font-size: 23px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		margin-bottom: 13px;
		border-left: 2px solid #FC7242;
		padding-left: 7px;
		margin: 0 50px;

	}
.btn{
	background: linear-gradient(90.08deg, #D34C1F -0.75%, #F68536 99.93%);
	padding: 14px 50px;
	border-radius: 5px;
	font-size: 24px; 


}
.nav{
	color: #fff;


	padding: 40px 0;
	background-color: #232323;
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

		a{
			text-decoration: none;
			color: #fff;
			transition: all 0.3s;
			&:hover{
				color:#FC7242;
			}
		}
		&__logo, &__tel{
			display: flex;
			align-items: center;
		}
		img{
			margin-right: 10px;
			display: block;
		}
}
.header{
	position: relative;
	height: 100vh;
	z-index: 1;
	background-image: url('../img/header/bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 0 0 0;
	color: #FFF;	     
	&__wrapper{
		
		z-index:3;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		img{
			margin-top: 80px;
		}
		@media only screen and (max-height: 800px){
			img{
			width: 600px;
		}

		}
	}
	&__overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(15, 15, 15, 0.7);
		z-index: 2;
	}
	&__text{
		display: block;
		font-size: 24px;
		font-weight: 700;
		line-height: 2;
		width: 390px;
		margin: 40px 0;
		
		
	}
	.subtitle{
		margin-bottom: 40px;
	}
	
	h1{
		font-size: 48px;
	}

	a{
		color: #fff;
		text-decoration: none;
		display: block;
		width: 425px;
		text-align: center;
		margin-bottom: 30px;
	}
	
	.offer{
		width: 425px;
		text-align: center;
		font-size: 18px;
		span{
		color:#FC7242; 
	}
	}
}
.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: radial-pulse 1s infinite;
}
 

 
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(252, 114, 66, 0.5);
    transform: scale(1);
  }
 
  100% {
    box-shadow: 0 0 0 20px rgba(252, 114, 66, 0);
    transform: scale(1.1);
  }
}
.katalog{
	padding: 100px 0;
	h2{
		
		font-size: 24px;
		color: #000;
		text-transform: uppercase;
		border-left: 2px solid #FC7242;
		padding-left: 7px;
		padding-bottom: 5px;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 25px;
			height: 2px;
			background-color: #FC7242;
		}
	}
	&__wrapper{
		display: flex;
		align-items: center;
		flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
		justify-content: space-between;
		margin: 0 50px;
	}
	.karts{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.kart{
		display: flex;
		flex-direction: column;
		margin-top: 70px;
		min-height: 650px;
		position: relative;
		width: 560px;
		overflow: hidden;
		box-shadow: 12px 12px 37px rgba(0, 0, 0, 0.33);
		border-radius: 18px;
		img{
			max-height: 350px;
			display: block;
			margin: 0 auto;
		}
		a{
			text-decoration: none;
			color: #000;
		}

	}

	
	ul{
		padding-left: 0;
	}
	li{
		list-style: none;
		font-size: 20px;

	}
	li+li{
		margin-top: 10px;
	}
	.links{
		margin: 0 50px;
		display: flex;
		justify-content: space-between;
		a{
			font-size: 22px;
			color: #405CBE;
			text-decoration: underline;

		}
		

	}
	.price{
		font-size: 24px;
		font-weight: 700;

	}
	.com-offer{

		margin-top: 16px;
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto;
		display: block;
		width: 100%;
		font-size: 23px;
		font-weight: 700;
		padding: 30px 0;
		text-align: center;
		background: linear-gradient(90.02deg, #CF461C 0.01%, #F88838 99.98%);
	a{
		color: #FFF;
		display: block;

	}
	}
	
}
.shop{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 100px 0;
	&__item{
		padding-top:30px;
	}
	.sliders{
		max-width: 600px;
	}
	.slider-for{
		width: 100%;
			img{
			display: block;
			max-width: 500px;
		}
	}
	.slider__item{
		position: relative;
	}
	.slider-nav{
		max-height: 115px;
		max-width: 550px;
		overflow: hidden;
		img{
			max-width: 150px;
			padding: 5px 0;
		}
	}
	.zoom{
		opacity: 0;
		position: absolute;
		z-index: 3;
		width: 100%;
		height: 100%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-image: url('../img/shop/zoom.svg');
		background-repeat: no-repeat;
		background-position: center;
		&:hover{
			opacity: 0.8;
			
		}
	}

	.prev,.next{
		position: absolute;
		width: 24px;
		height: 24px;
		top: 50%;
		transform: transliteY(-50%);
		z-index: 3;

}
.next{
	right: 0;
}
.prev{
	left: 0;
}
.slick-center{
	border: 1px solid #FC7242;
}
.slick-slide{
	outline: none;
}
	&__item{
		display: flex;
		justify-content: space-between;
	}
	.text{
		margin-top: 30px;
		max-width: 550px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	   font-size: 20px;
	   color: #3B3F4C;
	   }
	   p+p{
	   	margin-top: 10px;
	   }
	   .trigers{
		margin: 70px auto 0 auto;
		text-align: center;

	}
	.triger {
		cursor: pointer;
		text-transform: uppercase;
		font-size: 20px;
		display: inline-block;
		padding: 14px;
		border: 2px solid #FC7242;
		border-radius: 5px;
		color: #FC7242;
		transition: all 0.3s;
	
	}
	input[type="radio"]{
	display:none;
	}
	#tab1, #tab2, #tab3 {
    display: none;
    position: relative;
	}
	
	#check1:checked ~ label[for="check1"],
	#check2:checked ~ label[for="check2"],
	#check3:checked ~ label[for="check3"],
	#check4:checked ~ label[for="check4"],
	#check5:checked ~ label[for="check5"],
	#check6:checked ~ label[for="check6"],
	#check7:checked ~ label[for="check7"],
	#check8:checked ~ label[for="check8"]
	{
		
		background-color: #FC7242;
		color: #FFF;
		cursor: default;
		
		height: auto;
	}
	#check1:hover ~ label[for="check1"],
	#check2:hover ~ label[for="check2"],
	#check3:hover ~ label[for="check3"],
	#check4:hover ~ label[for="check4"],
	#check5:hover ~ label[for="check5"],
	#check6:hover ~ label[for="check6"],
	#check7:hover ~ label[for="check7"],
	#check8:hover ~ label[for="check8"]
	
	{
		
		background-color: #FC7242;
		color: #FFF;
		cursor: default;
		
		height: auto;
	}

	#check1:checked ~ #tab1,
	#check2:checked ~ #tab2,
	#check3:checked ~ #tab3 {
    display: block; 
    min-height: 320px;
	}
	li{
		list-style: none;
		text-align: left;
		margin-bottom: 10px;
		font-size: 20px;

		}

	
}
#tab1, #tab2, #tab3{
	margin-top: 50px;
}

	.buy__title{
		margin-bottom: 15px;
	}
	.triger-1{
		cursor: pointer;
		text-transform: uppercase;
		font-size: 16px;
		display: inline-block;
		padding: 8px 14px;
		border: 2px solid #FC7242;
		border-radius: 5px;
		color: #FC7242;
		transition: all 0.3s;
	}
	.triger__item{
		cursor: pointer;
		text-transform: uppercase;
		font-size: 16px;
		display: inline-block;
		padding: 8px 14px;
		border: 2px solid #FC7242;
		border-radius: 5px;
		color: #FC7242;
		transition: all 0.3s;
		&:hover{
			color: #FFF;
			background: #FC7242;
		}
		
	}
	.triger__item.--active{
			color: #FFF;
			background: #FC7242;
		}
	.type-table{
		font-size: 24px;
	}


table{
	width: 100%;
	img{
		max-width: 150px;
		display: inline-block;
	}
}


th, td { padding: 20px 7px; }
tr{
	text-align: left;
	font-size: 20px;
	margin-bottom: 25px;
}
.head{
	background: #F3F3F3;
}
.count{
	display: flex;
	align-items: center;
	justify-content: center;
	input{
		display: inline-block;
		max-width: 50px;
		text-align: center;
		outline: #FC7242;

	}

}
.subtotal{
	text-align: center;
}
.plus{
	color:#FC7242;
	outline: #FC7242;
	button{
		border: 1px solid #FC7242;

	}
}
.total-price{
	display: flex;
	justify-content: flex-end;
}
.summa{
	font-size: 36px;
	font-weight: 700;
	margin-right: 20px;
}
.nds{
	margin-top: 7px;
	font-size: 20px;
	font-weight: 400;
}
.to-basket{
	padding: 0 20px;
	margin-left: 25px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	color: #FFF;
	background: #FC7242;
	border-radius: 15px;
	&:focus{
		outline: none;
	} 
	}
	.total{
		display: none;
		padding: 10px 0;
		position: fixed;
		width: 100%;
		bottom: 0;
		right: 0;
		background: #F3F3F3;
		&.active{
			display: block;
		}
	}